@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .section-padding-y {
    padding: 120px 0;
  }
}




* {
  /*font-family: var(--font-base), serif;*/
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.sideways {
  writing-mode: vertical-rl;
}

h2 {
  line-height: 83px;
}

h3 {
  line-height: 59px;
}

h5 {
  line-height: 30px;
}

p {
  line-height: 28px;;
}


/* asdasd */
:root {
  --font-base: 'Cormorant Upright', serif;
  --font-alt: 'Open Sans', sans-serif;

  --color-golden: #dcca87;
  --color-black: #0c0b08;
  --color-gray: #545454;
  --color-crimson: #f5efdb;
  --color-grey: #aaaaaa;
  --color-white: #ffffff;
  
/*  font sizes */
  --body-regular: 16px;
  --h1: 90px;
  --h2: 64px;
  --h3: 45px;
  --h4: 32px;
  --h5: 23px;
  
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
